# This file is auto-generated by: columnctl releases generate-openapi-spec
# Do not edit manually.

openapi: 3.1.0
info:
    title: Column API
    version: "1.1"
    contact:
        name: Column
        url: https://column.com
        email: support@column.com
servers:
    - url: https://api.column.com/
security:
    - BasicAuth: []
paths:
    /account-numbers/{account_number_id}:
        get:
            description: Gets a specific account number by its ID.
            operationId: AccountNumber_GetAccountNumber
            parameters:
                - in: path
                  name: account_number_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AccountNumber'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get an account number
            tags:
                - AccountNumber
            x-response-example:
                account_number: "256783259046169"
                bank_account_id: bacc_25nVQr05nZybpyEzw8j0wV6VRUh
                bic: CLNOUS66
                check_issuing_positive_pay_required: true
                created_at: "2022-03-01T20:09:42Z"
                description: Travel Checking Account Number
                id: acno_25nacNsLD8qLI1Vc6x67sxFU27c
                routing_number: "121145307"
        patch:
            description: Updates an account number by its ID.
            operationId: AccountNumber_UpdateAccountNumber
            parameters:
                - in: path
                  name: account_number_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateAccountNumberRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AccountNumber'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Update an account number
            tags:
                - AccountNumber
            x-response-example:
                account_number: "256783259046169"
                bank_account_id: bacc_25nVQr05nZybpyEzw8j0wV6VRUh
                bic: CLNOUS66
                check_issuing_positive_pay_required: false
                created_at: "2022-03-01T20:09:42Z"
                description: Account Number for Checkbook
                id: acno_25nacNsLD8qLI1Vc6x67sxFU27c
                routing_number: "121145307"
    /ach-positive-pay-rules:
        post:
            description: Creates an ACH positive pay rule on a bank account.
            operationId: TransferACHPositivePayRules_CreateACHPositivePayRule
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateACHPositivePayRuleRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ACHPositivePayRuleResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Create an ACH positive pay rule
            tags:
                - TransferACHPositivePayRules
    /ach-positive-pay-rules/{ach_positive_pay_rule_id}:
        delete:
            description: Delete an ACH positive pay rule by its ID.
            operationId: TransferACHPositivePayRules_DeleteACHPositivePayRule
            parameters:
                - in: path
                  name: ach_positive_pay_rule_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Delete an ACH positive pay rule
            tags:
                - TransferACHPositivePayRules
        get:
            description: Retrieve a single ACH positive pay rule by its ID.
            operationId: TransferACHPositivePayRules_GetACHPositivePayRule
            parameters:
                - in: path
                  name: ach_positive_pay_rule_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ACHPositivePayRuleResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get an ACH positive pay rule
            tags:
                - TransferACHPositivePayRules
    /bank-accounts:
        get:
            description: List all bank accounts under the platform. Filtered results can be retrieved with extra parameters in the query.
            operationId: BankAccount_ListBankAccounts
            parameters:
                - description: Return results where the balance is greater than this value (in smallest currency unit).
                  in: query
                  name: balance.gt
                  required: false
                  schema:
                    format: int64
                    type: integer
                - description: Return results where the balance is greater than or equal to this value (in smallest currency unit).
                  in: query
                  name: balance.gte
                  required: false
                  schema:
                    format: int64
                    type: integer
                - description: Return results where the balance is less than this value (in smallest currency unit).
                  in: query
                  name: balance.lt
                  required: false
                  schema:
                    format: int64
                    type: integer
                - description: Return results where the balance is less than or equal to this value (in smallest currency unit).
                  in: query
                  name: balance.lte
                  required: false
                  schema:
                    format: int64
                    type: integer
                - description: Return results where the `created_at` field is greater than this value.
                  in: query
                  name: created.gt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is greater than or equal to this value.
                  in: query
                  name: created.gte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is less than this value.
                  in: query
                  name: created.lt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is less than or equal to this value.
                  in: query
                  name: created.lte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Filter bank accounts by description.
                  in: query
                  name: description
                  required: false
                  schema:
                    type: string
                - description: A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `foo_ZXhhbXBsZQo`, your subsequent call can include `ending_before=foo_ZXhhbXBsZQo` in order to fetch the previous page of the list.
                  in: query
                  name: ending_before
                  required: false
                  schema:
                    type: string
                - description: List all accounts that belong to the entity with the given `entity_id`.
                  in: query
                  name: entity_id
                  required: false
                  schema:
                    type: string
                - description: List all accounts that are overdraftable.
                  in: query
                  name: is_overdraftable
                  required: false
                  schema:
                    type: boolean
                - description: A limit on the number of objects to be returned, between `1` and `100`. The default is `10`.
                  in: query
                  name: limit
                  required: false
                  schema:
                    format: int64
                    type: integer
                - description: List all bank accounts with the given `overdraft_reserve_account_id`.
                  in: query
                  name: overdraft_reserve_account_id
                  required: false
                  schema:
                    type: string
                - description: Search query to match against bank accounts.
                  in: query
                  name: query
                  required: false
                  schema:
                    type: string
                - description: Field to sort results by.
                  in: query
                  name: sort
                  required: false
                  schema:
                    type: string
                - description: Sort direction. Can be `asc` or `desc`.
                  in: query
                  name: sort_order
                  required: false
                  schema:
                    type: string
                - description: A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `foo_ZXhhbXBsZQo`, your subsequent call can include `starting_after=foo_ZXhhbXBsZQo` in order to fetch the next page of the list.
                  in: query
                  name: starting_after
                  required: false
                  schema:
                    type: string
                - description: Bank account type. Can be `CHECKING`, `OVERDRAFT_RESERVE`, `PROGRAM_RESERVE`, or `NETWORK_SETTLEMENT_ACCOUNT`.
                  in: query
                  name: type
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BankAccountList'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List all bank accounts
            tags:
                - BankAccount
        post:
            description: Creates a new bank account under an entity.
            operationId: BankAccount_CreateBankAccount
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateBankAccountRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BankAccountWithDetails'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Create a new bank account
            tags:
                - BankAccount
    /bank-accounts/{bank_account_id}:
        delete:
            description: This deletes a bank account.
            operationId: BankAccount_DeleteBankAccount
            parameters:
                - in: path
                  name: bank_account_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Delete a bank account
            tags:
                - BankAccount
            x-callouts:
                - body: Bank Accounts can only be deleted when they have a $0 balance.
                  title: Removing accounts
        get:
            description: Get a bank account by its ID.
            operationId: BankAccount_GetBankAccount
            parameters:
                - in: path
                  name: bank_account_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BankAccountWithDetails'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get a bank account by ID
            tags:
                - BankAccount
        patch:
            description: Updates a bank account by its ID.
            operationId: BankAccount_UpdateBankAccount
            parameters:
                - in: path
                  name: bank_account_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateBankAccountRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BankAccountWithDetails'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Update a bank account
            tags:
                - BankAccount
    /bank-accounts/{bank_account_id}/account-numbers:
        get:
            description: Lists all the account numbers that point to a specific bank account.
            operationId: AccountNumber_ListAccountNumbers
            parameters:
                - in: path
                  name: bank_account_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListAccountNumbersResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List all account numbers from a bank account
            tags:
                - AccountNumber
            x-response-example:
                account_numbers:
                    - account_number: "256783259046169"
                      bank_account_id: bacc_25nVQr05nZybpyEzw8j0wV6VRUh
                      bic: CLNOUS66
                      check_issuing_positive_pay_required: true
                      created_at: "2022-03-01T20:09:42Z"
                      description: Travel Checking Account Number
                      id: acno_25nacNsLD8qLI1Vc6x67sxFU27c
                      routing_number: "121145307"
                has_more: false
        post:
            description: Creates a new account number that points to the associated bank account.
            operationId: AccountNumber_CreateAccountNumber
            parameters:
                - in: path
                  name: bank_account_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateAccountNumberParams'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AccountNumber'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Create a new account number
            tags:
                - AccountNumber
            x-request-example:
                check_issuing_positive_pay_required: true
                description: Travel Checking Account Number
            x-response-example:
                account_number: "256783259046169"
                bank_account_id: bacc_25nVQr05nZybpyEzw8j0wV6VRUh
                bic: CLNOUS66
                check_issuing_positive_pay_required: true
                created_at: "2022-03-01T20:09:42Z"
                description: Travel Checking Account Number
                id: acno_25nacNsLD8qLI1Vc6x67sxFU27c
                routing_number: "121145307"
    /bank-accounts/{bank_account_id}/ach-positive-pay-rules:
        get:
            description: Gets all ACH positive pay rules on a bank account.
            operationId: TransferACHPositivePayRules_ListACHPositivePayRulesByBankAccount
            parameters:
                - in: path
                  name: bank_account_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListACHPositivePayRulesResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List ACH positive pay rules
            tags:
                - TransferACHPositivePayRules
    /bank-accounts/{bank_account_id}/history:
        get:
            description: Get the summary history of a bank account. This endpoint returns a list of summaries, one summary per day, for a single bank account. Only summaries for the latest 366 days are available. You must set your platform reporting time zone in Platform Settings on Dashboard to use this endpoint ([read more]({{guides.reporting}})).
            operationId: BankAccount_GetBankAccountHistory
            parameters:
                - in: path
                  name: bank_account_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BankAccountSummaryHistory'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get bank account summary history
            tags:
                - BankAccount
    /bank-accounts/{bank_account_id}/owner:
        post:
            description: Adds an additional owner to an existing bank account. This enables joint ownership where multiple entities can have ownership rights. The entity must be verified before being added as an owner and must belong to the same platform as the bank account.
            operationId: BankAccount_AddBankAccountOwner
            parameters:
                - in: path
                  name: bank_account_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AddBankAccountOwnerRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BankAccountWithDetails'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Add a bank account owner
            tags:
                - BankAccount
    /counterparties:
        get:
            description: Retrieve all counterparties under your developer account. Filtered results can be retrieved with extra parameters in the query (`account_number`, `routing_number`, etc.).
            operationId: Counterparty_ListCounterparties
            parameters:
                - description: Filter counterparties by account number.
                  in: query
                  name: account_number
                  required: false
                  schema:
                    type: string
                - description: Return results where the `created_at` field is greater than this value.
                  in: query
                  name: created.gt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is greater than or equal to this value.
                  in: query
                  name: created.gte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is less than this value.
                  in: query
                  name: created.lt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is less than or equal to this value.
                  in: query
                  name: created.lte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: When `true`, collapses duplicate counterparties (same account/routing) into a single result.
                  in: query
                  name: deduplicate
                  required: false
                  schema:
                    type: boolean
                - description: Filter counterparties by description (substring match).
                  in: query
                  name: description
                  required: false
                  schema:
                    type: string
                - description: A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `foo_ZXhhbXBsZQo`, your subsequent call can include `ending_before=foo_ZXhhbXBsZQo` in order to fetch the previous page of the list.
                  in: query
                  name: ending_before
                  required: false
                  schema:
                    type: string
                - description: A limit on the number of objects to be returned, between `1` and `100`. The default is `10`.
                  in: query
                  name: limit
                  required: false
                  schema:
                    format: int64
                    type: integer
                - description: Free-form search query that matches against counterparty fields.
                  in: query
                  name: query
                  required: false
                  schema:
                    type: string
                - description: Filter counterparties by routing number.
                  in: query
                  name: routing_number
                  required: false
                  schema:
                    type: string
                - description: Field to sort results by.
                  in: query
                  name: sort
                  required: false
                  schema:
                    type: string
                - description: Sort direction. Can be `asc` or `desc`.
                  in: query
                  name: sort_order
                  required: false
                  schema:
                    type: string
                - description: A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `foo_ZXhhbXBsZQo`, your subsequent call can include `starting_after=foo_ZXhhbXBsZQo` in order to fetch the next page of the list.
                  in: query
                  name: starting_after
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListCounterpartiesResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List all counterparties
            tags:
                - Counterparty
        post:
            description: A counterparty is the legal entity on the other side of the transaction. Depending on the type of transaction, we may need to know more or less about them. A domestic ACH only requires a counterparty's account and routing number. If you include a counterparty name, Column will by default populate `receiver_name` on the ACH transfer request. Domestic and international wires require full name and address. Certain countries may require additional fields. Learn more about country-specific details here.
            operationId: Counterparty_CreateCounterparty
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateCounterparty'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Counterparty'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Create a counterparty
            tags:
                - Counterparty
    /counterparties/{counterparty_id}:
        delete:
            description: Delete a counterparty.
            operationId: Counterparty_DeleteCounterparty
            parameters:
                - in: path
                  name: counterparty_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/EmptyResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Delete a counterparty
            tags:
                - Counterparty
        get:
            description: Retrieve a single counterparty by its ID.
            operationId: Counterparty_GetCounterparty
            parameters:
                - in: path
                  name: counterparty_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Counterparty'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get a counterparty by ID
            tags:
                - Counterparty
    /documents:
        get:
            description: List all documents under the platform. Filtered results can be retrieved with extra parameters in the query.
            operationId: Documents_ListDocuments
            parameters:
                - description: Return results where the `created_at` field is greater than this value.
                  in: query
                  name: created.gt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is greater than or equal to this value.
                  in: query
                  name: created.gte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is less than this value.
                  in: query
                  name: created.lt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is less than or equal to this value.
                  in: query
                  name: created.lte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Filter documents by description.
                  in: query
                  name: description
                  required: false
                  schema:
                    type: string
                - description: A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `foo_ZXhhbXBsZQo`, your subsequent call can include `ending_before=foo_ZXhhbXBsZQo` in order to fetch the previous page of the list.
                  in: query
                  name: ending_before
                  required: false
                  schema:
                    type: string
                - description: Filter documents by file name.
                  in: query
                  name: file_name
                  required: false
                  schema:
                    type: string
                - description: A limit on the number of objects to be returned, between `1` and `100`. The default is `10`.
                  in: query
                  name: limit
                  required: false
                  schema:
                    type: integer
                - description: A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `foo_ZXhhbXBsZQo`, your subsequent call can include `starting_after=foo_ZXhhbXBsZQo` in order to fetch the next page of the list.
                  in: query
                  name: starting_after
                  required: false
                  schema:
                    type: string
                - description: Filter documents by tag.
                  in: query
                  name: tag
                  required: false
                  schema:
                    type: string
                - description: Filter documents by type.
                  in: query
                  name: type
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DocumentList'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List all documents
            tags:
                - Documents
        post:
            description: 'To upload a file to Column, you will need to send a request with `Content-Type: multipart/form-data`. The request should contain the file you would like to upload, as well as other metadata.'
            operationId: Documents_UploadRegularDocument
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Document'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Upload a document
            tags:
                - Documents
    /documents/{document_id}:
        get:
            description: Retrieves the details of an existing document.
            operationId: Documents_GetDocument
            parameters:
                - in: path
                  name: document_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Document'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get a document
            tags:
                - Documents
    /entities:
        get:
            description: Retrieve all entities on your platform. Filtered results can be retrieved with extra parameters in the query (`type`, `name`, etc.).
            operationId: IdentityEntity_GetEntities
            parameters:
                - description: Return results where the created time is greater than this value.
                  in: query
                  name: created.gt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the created time is greater than or equal to this value.
                  in: query
                  name: created.gte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the created time is less than this value.
                  in: query
                  name: created.lt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the created time is less than or equal to this value.
                  in: query
                  name: created.lte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `foo_ZXhhbXBsZQo`, your subsequent call can include `ending_before=foo_ZXhhbXBsZQo` in order to fetch the previous page of the list.
                  in: query
                  name: ending_before
                  required: false
                  schema:
                    type: string
                - description: Return results matching the specified root status.
                  in: query
                  name: is_root
                  required: false
                  schema:
                    type: boolean
                - description: A limit on the number of objects to be returned, between `1` and `100`. The default is `10`.
                  in: query
                  name: limit
                  required: false
                  schema:
                    type: integer
                - description: Return entities with this name.
                  in: query
                  name: name
                  required: false
                  schema:
                    type: string
                - description: Free-text search query to match against entity fields.
                  in: query
                  name: query
                  required: false
                  schema:
                    type: string
                - description: A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `foo_ZXhhbXBsZQo`, your subsequent call can include `starting_after=foo_ZXhhbXBsZQo` in order to fetch the next page of the list.
                  in: query
                  name: starting_after
                  required: false
                  schema:
                    type: string
                - description: Return results with this entity type, either `PERSON` or `BUSINESS`.
                  in: query
                  name: type
                  required: false
                  schema:
                    type: string
                - description: Return results with this verification status.
                  in: query
                  name: verification_status
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetEntitiesResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List all entities
            tags:
                - IdentityEntity
            x-response-example:
                entities:
                    - documents: []
                      id: enti_2NkTtT5NI3Lh0LpjpvxO4M2AZHd
                      is_root: false
                      name: Oliver Smith
                      review_reasons: []
                      type: PERSON
                      verification_status: VERIFIED
                    - documents: []
                      id: enti_2MCE4Cgh2Sl5ttZfnXYwzmfik0c
                      is_root: false
                      name: Yellen Cocktails LLC
                      review_reasons: []
                      type: BUSINESS
                      verification_status: VERIFIED
                has_more: false
    /entities/{entity_id}:
        delete:
            description: Delete the underlying entity.
            operationId: IdentityEntity_DeleteEntity
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/EmptyResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Delete an entity
            tags:
                - IdentityEntity
            x-callouts:
                - body: Entities can only be deleted if all their underlying accounts are deleted. Accounts can only be deleted when they have a $0 balance.
                  title: Removing entities
        get:
            description: Retrieve a single legal entity by its ID.
            operationId: IdentityEntity_GetEntity
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Entity'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get an entity by ID
            tags:
                - IdentityEntity
            x-response-example:
                business_details:
                    address:
                        city: San Francisco
                        country_code: US
                        line_1: 555 California Street
                        line_2: Suite 200
                        postal_code: "94104"
                        state: CA
                    business_name: Yellen Cocktails LLC
                    countries_of_operation:
                        - US
                    description: Premium craft cocktail lounge and distillery
                    ein: "123456789"
                    industry: Food & Beverage
                    legal_type: llc
                    state_of_incorporation: CA
                    website: https://yellencocktails.com
                    year_of_incorporation: "2019"
                documents: []
                id: enti_2Q1fIwKjnf7TmZP37mAuKjWXB2o
                is_root: false
                name: Yellen Cocktails LLC
                review_reasons: []
                type: BUSINESS
                verification_status: VERIFIED
    /entities/{entity_id}/additional-requirements:
        get:
            description: Retrieve submitted additional requirements for an entity.
            operationId: IdentityEntity_GetAdditionalRequirements
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAdditionalRequirementsResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get additional requirements
            tags:
                - IdentityEntity
        post:
            description: Submit additional requirements that may be configured as part of your compliance program at Column.
            operationId: IdentityEntity_SubmitAdditionalRequirements
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/EntityAdditionalRequirementsJSON'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SubmitAdditionalRequirementsResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Submit additional requirements
            tags:
                - IdentityEntity
            x-callouts:
                - body: The schema for additional requirements is configured per platform. The fields shown below are examples only and will vary based on your specific compliance program. Contact your Column solutions engineer to understand which fields are required for your platform.
                  title: Custom Schema
                - body: All custom fields are validated according to your platform's compliance configuration. Invalid data will result in a 400 error with field-specific error messages.
                  title: Validation
                  variant: warning
    /entities/{entity_id}/associated-persons:
        get:
            description: List all associated persons for a business entity.
            operationId: IdentityEntity_GetAssociatedPersons
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAssociatedPersonsResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List associated persons
            tags:
                - IdentityEntity
        post:
            description: Link a person entity as an associated person to a business entity.
            operationId: IdentityEntity_LinkAssociatedPerson
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LinkAssociatedPersonRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AssociatedPerson'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Link an associated person
            tags:
                - IdentityEntity
        put:
            description: Update the associated persons for a business entity.
            operationId: IdentityEntity_UpdateAssociatedPersons
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateAssociatedPersonsRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAssociatedPersonsResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Update associated persons
            tags:
                - IdentityEntity
    /entities/{entity_id}/compliance:
        get:
            description: Retrieve a list of fields that are not yet populated on an entity based on the compliance requirements for your program. Column will work with you to define required fields given your specific use case.
            operationId: IdentityEntity_GetEntityCompliance
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get entity compliance
            tags:
                - IdentityEntity
            x-callouts:
                - body: |-
                    - `complete`: Field has been provided and validated
                    - `missing`: Field is required but not provided
                    - `invalid`: Field provided but failed validation
                    - `pending`: Field is being verified
                  title: Field Status Values
            x-response-example:
                entity_id: enti_2dk2oXqPcB5Xb5wFpnrg50F7BeD
                fields:
                    address.city: complete
                    address.line_1: complete
                    evidence.proof_of_address: missing
                    first_name: complete
                    last_name: complete
                    ssn: missing
                updated_at: "2024-01-15T10:30:00Z"
    /entities/{entity_id}/evidence:
        get:
            description: Retrieve evidence for an entity with optional filtering.
            operationId: IdentityEntity_GetEntityEvidence
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
                - description: Filter by the type of evidence submitted.
                  in: query
                  name: evidence_type
                  required: false
                  schema:
                    type: string
                - description: Filter by the purpose of the evidence submission.
                  in: query
                  name: purpose
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetEntityEvidenceResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get entity evidence
            tags:
                - IdentityEntity
        post:
            description: Create evidence from third-party verification services. If your KYC provider sends you a JSON blob, you can pass that in directly into `data` if the `third_party_json` is passed in as `evidence_type`.
            operationId: IdentityEntity_CreateEntityEvidence
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateEntityEvidenceRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/EntityEvidence'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Create third party evidence
            tags:
                - IdentityEntity
    /entities/business:
        post:
            description: Create a new business entity.
            operationId: IdentityEntity_CreateBusinessEntity
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateBusinessEntity'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Entity'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Create a business entity
            tags:
                - IdentityEntity
            x-callouts:
                - body: After creating a business entity, use the [Associated Persons endpoints]({{entity.associated}}) to add beneficial owners and control persons. This endpoint creates only the core business entity.
                  title: Managing Associated Persons
    /entities/business/{entity_id}:
        patch:
            description: Update an existing business entity.
            operationId: IdentityEntity_UpdateBusinessEntity
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateBusinessEntity'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Entity'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Update a business entity
            tags:
                - IdentityEntity
            x-callouts:
                - body: Beneficial owners and control persons are now managed through the [Associated Persons endpoints]({{entity.associated}}). This endpoint updates only the core business details.
                  title: Managing Associated Persons
    /entities/person:
        post:
            description: Create a new person entity for individual customers.
            operationId: IdentityEntity_CreatePersonEntity
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreatePersonEntity'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Entity'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Create a person entity
            tags:
                - IdentityEntity
    /entities/person/{entity_id}:
        patch:
            description: Update an existing person entity.
            operationId: IdentityEntity_UpdatePersonEntity
            parameters:
                - in: path
                  name: entity_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdatePersonEntity'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Entity'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Update a person entity
            tags:
                - IdentityEntity
    /events:
        get:
            description: Lists all events, inclusive of events sent via webhooks.
            operationId: Event_ListEvents
            parameters:
                - description: Return results where the `created_at` field is greater than this value.
                  in: query
                  name: created.gt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is greater than or equal to this value.
                  in: query
                  name: created.gte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is less than this value.
                  in: query
                  name: created.lt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is less than or equal to this value.
                  in: query
                  name: created.lte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `foo_ZXhhbXBsZQo`, your subsequent call can include `ending_before=foo_ZXhhbXBsZQo` in order to fetch the previous page of the list.
                  in: query
                  name: ending_before
                  required: false
                  schema:
                    type: string
                - description: A limit on the number of objects to be returned, between `1` and `100`. The default is `10`.
                  in: query
                  name: limit
                  required: false
                  schema:
                    type: integer
                - description: Filter events by related object IDs.
                  in: query
                  name: object_ids
                  required: false
                  schema:
                    type: array
                - description: A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `foo_ZXhhbXBsZQo`, your subsequent call can include `starting_after=foo_ZXhhbXBsZQo` in order to fetch the next page of the list.
                  in: query
                  name: starting_after
                  required: false
                  schema:
                    type: string
                - description: Filter events by type.
                  in: query
                  name: types
                  required: false
                  schema:
                    type: array
            responses:
                "200":
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List all events
            tags:
                - Event
    /events/{event_id}:
        get:
            description: Retrieve a single event by its ID.
            operationId: Event_GetEvent
            parameters:
                - in: path
                  name: event_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Event'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get an event
            tags:
                - Event
    /events/webhook:
        get:
            description: Lists just the events that resulted in webhooks. Useful for reconciling webhooks.
            operationId: Event_ListWebhookEvents
            parameters:
                - description: Return results where the `created_at` field is greater than this value.
                  in: query
                  name: created.gt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is greater than or equal to this value.
                  in: query
                  name: created.gte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is less than this value.
                  in: query
                  name: created.lt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the `created_at` field is less than or equal to this value.
                  in: query
                  name: created.lte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `foo_ZXhhbXBsZQo`, your subsequent call can include `ending_before=foo_ZXhhbXBsZQo` in order to fetch the previous page of the list.
                  in: query
                  name: ending_before
                  required: false
                  schema:
                    type: string
                - description: A limit on the number of objects to be returned, between `1` and `100`. The default is `10`.
                  in: query
                  name: limit
                  required: false
                  schema:
                    type: integer
                - description: Filter events by related object IDs.
                  in: query
                  name: object_ids
                  required: false
                  schema:
                    type: array
                - description: A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `foo_ZXhhbXBsZQo`, your subsequent call can include `starting_after=foo_ZXhhbXBsZQo` in order to fetch the next page of the list.
                  in: query
                  name: starting_after
                  required: false
                  schema:
                    type: string
                - description: Filter events by type.
                  in: query
                  name: types
                  required: false
                  schema:
                    type: array
            responses:
                "200":
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List all webhook events
            tags:
                - Event
    /iban/{iban}:
        get:
            description: Validate the format of an IBAN and check whether it is registered with the given financial institution. However, we cannot verify if the account is still open.
            operationId: FinancialInstitution_GetIBAN
            parameters:
                - in: path
                  name: iban
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IBAN'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Validate an IBAN
            tags:
                - FinancialInstitution
    /institutions:
        get:
            description: List all financial institutions. Filtered results can be retrieved with extra parameters in your queries.
            operationId: FinancialInstitution_ListFinancialInstitutions
            parameters:
                - description: Filter institutions by country code.
                  in: query
                  name: country_code
                  required: false
                  schema:
                    type: string
                - description: A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `foo_ZXhhbXBsZQo`, your subsequent call can include `ending_before=foo_ZXhhbXBsZQo` in order to fetch the previous page of the list.
                  in: query
                  name: ending_before
                  required: false
                  schema:
                    type: string
                - description: A limit on the number of objects to be returned, between `1` and `100`. The default is `10`.
                  in: query
                  name: limit
                  required: false
                  schema:
                    type: integer
                - description: Filter institutions by name.
                  in: query
                  name: name
                  required: false
                  schema:
                    type: string
                - description: Filter institutions by routing number type.
                  in: query
                  name: routing_number_type
                  required: false
                  schema:
                    type: string
                - description: A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `foo_ZXhhbXBsZQo`, your subsequent call can include `starting_after=foo_ZXhhbXBsZQo` in order to fetch the next page of the list.
                  in: query
                  name: starting_after
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListFinancialInstitution'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List financial institutions
            tags:
                - FinancialInstitution
    /institutions/{routing_number}:
        get:
            description: Retrieve a single financial institution by its ABA number or BIC.
            operationId: FinancialInstitution_GetFinancialInstitution
            parameters:
                - in: path
                  name: routing_number
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/FinancialInstitution'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get a financial institution
            tags:
                - FinancialInstitution
    /issuing/card-accounts:
        get:
            description: Retrieve a list of card accounts.
            operationId: Cards_ListCardAccounts
            parameters:
                - description: Filter card accounts by card program ID.
                  in: query
                  name: card_program_id
                  required: false
                  schema:
                    type: string
                - description: A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `foo_ZXhhbXBsZQo`, your subsequent call can include `ending_before=foo_ZXhhbXBsZQo` in order to fetch the previous page of the list.
                  in: query
                  name: ending_before
                  required: false
                  schema:
                    type: string
                - description: A limit on the number of objects to be returned, between `1` and `100`. The default is `10`.
                  in: query
                  name: limit
                  required: false
                  schema:
                    type: integer
                - description: A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `foo_ZXhhbXBsZQo`, your subsequent call can include `starting_after=foo_ZXhhbXBsZQo` in order to fetch the next page of the list.
                  in: query
                  name: starting_after
                  required: false
                  schema:
                    type: string
                - description: Filter card accounts by status.
                  in: query
                  name: statuses
                  required: false
                  schema:
                    type: array
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListCardAccountsResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List card accounts
            tags:
                - Cards
        post:
            description: Create a new card account.
            operationId: Cards_CreateCardAccount
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateCardAccountRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardAccount'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Create card account
            tags:
                - Cards
    /issuing/card-accounts/{card_account_id}:
        get:
            description: Retrieve detailed information about a specific card account.
            operationId: Cards_GetCardAccount
            parameters:
                - in: path
                  name: card_account_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardAccount'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get card account by ID
            tags:
                - Cards
    /issuing/card-accounts/{card_account_id}/close:
        patch:
            description: Close a card account.
            operationId: Cards_CloseCardAccount
            parameters:
                - in: path
                  name: card_account_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CloseCardAccountRequest'
                required: false
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardAccount'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Close card account
            tags:
                - Cards
    /issuing/card-accounts/{card_account_id}/reinstate:
        patch:
            description: Reinstate a previously suspended card account.
            operationId: Cards_ReinstateCardAccount
            parameters:
                - in: path
                  name: card_account_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardAccount'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Reinstate card account
            tags:
                - Cards
    /issuing/card-accounts/{card_account_id}/suspend:
        patch:
            description: Suspend a card account.
            operationId: Cards_SuspendCardAccount
            parameters:
                - in: path
                  name: card_account_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardAccount'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Suspend card account
            tags:
                - Cards
    /issuing/card-authorization-policies:
        post:
            description: Create a new card authorization policy and its initial version.
            operationId: Cards_CreateCardAuthorizationPolicy
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateCardAuthorizationPolicyVersionRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardAuthorizationPolicyVersion'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Create card authorization policy
            tags:
                - Cards
    /issuing/card-authorization-policy-versions:
        get:
            description: Retrieve a list of versions for the specified card authorization policy.
            operationId: Cards_ListCardAuthorizationPolicyVersions
            parameters:
                - description: The card authorization policy ID to list versions for.
                  in: query
                  name: card_authorization_policy_id
                  required: true
                  schema:
                    type: string
                - description: Return results where the effective date is greater than this value.
                  in: query
                  name: effective_on.gt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the effective date is greater than or equal to this value.
                  in: query
                  name: effective_on.gte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the effective date is less than this value.
                  in: query
                  name: effective_on.lt
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: Return results where the effective date is less than or equal to this value.
                  in: query
                  name: effective_on.lte
                  required: false
                  schema:
                    format: date-time
                    type: string
                - description: A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `foo_ZXhhbXBsZQo`, your subsequent call can include `ending_before=foo_ZXhhbXBsZQo` in order to fetch the previous page of the list.
                  in: query
                  name: ending_before
                  required: false
                  schema:
                    type: string
                - description: A limit on the number of objects to be returned, between `1` and `100`. The default is `10`.
                  in: query
                  name: limit
                  required: false
                  schema:
                    type: integer
                - description: A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `foo_ZXhhbXBsZQo`, your subsequent call can include `starting_after=foo_ZXhhbXBsZQo` in order to fetch the next page of the list.
                  in: query
                  name: starting_after
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListCardAuthorizationPolicyVersionsResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List card authorization policy versions
            tags:
                - Cards
        post:
            description: Create a new version for an existing card authorization policy.
            operationId: Cards_CreateCardAuthorizationPolicyVersion
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateCardAuthorizationPolicyVersionRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardAuthorizationPolicyVersion'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Create card authorization policy version
            tags:
                - Cards
    /issuing/card-authorization-policy-versions/{card_authorization_policy_version_id}:
        delete:
            description: Delete a specific card authorization policy version.
            operationId: Cards_DeleteCardAuthorizationPolicyVersion
            parameters:
                - in: path
                  name: card_authorization_policy_version_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Delete card authorization policy version
            tags:
                - Cards
        get:
            description: Retrieve a specific card authorization policy version by its ID.
            operationId: Cards_GetCardAuthorizationPolicyVersion
            parameters:
                - in: path
                  name: card_authorization_policy_version_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardAuthorizationPolicyVersion'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get card authorization policy version
            tags:
                - Cards
        patch:
            description: Update a specific card authorization policy version.
            operationId: Cards_UpdateCardAuthorizationPolicyVersion
            parameters:
                - in: path
                  name: card_authorization_policy_version_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateCardAuthorizationPolicyVersionRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardAuthorizationPolicyVersion'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Update card authorization policy version
            tags:
                - Cards
    /issuing/card-disputes/{card_dispute_id}:
        get:
            description: Retrieve detailed information about a specific card dispute.
            operationId: Cards_GetDispute
            parameters:
                - in: path
                  name: card_dispute_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardDispute'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get card dispute by ID
            tags:
                - Cards
    /issuing/card-programs:
        get:
            description: Retrieve a list of card programs.
            operationId: Cards_ListCardPrograms
            parameters:
                - description: A cursor for use in pagination. `ending_before` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `foo_ZXhhbXBsZQo`, your subsequent call can include `ending_before=foo_ZXhhbXBsZQo` in order to fetch the previous page of the list.
                  in: query
                  name: ending_before
                  required: false
                  schema:
                    type: string
                - description: A limit on the number of objects to be returned, between `1` and `100`. The default is `10`.
                  in: query
                  name: limit
                  required: false
                  schema:
                    type: integer
                - description: A cursor for use in pagination. `starting_after` is an ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `foo_ZXhhbXBsZQo`, your subsequent call can include `starting_after=foo_ZXhhbXBsZQo` in order to fetch the next page of the list.
                  in: query
                  name: starting_after
                  required: false
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListCardProgramsResponse'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: List card programs
            tags:
                - Cards
    /issuing/card-programs/{card_program_id}:
        get:
            description: Retrieve detailed information about a specific card program.
            operationId: Cards_GetCardProgram
            parameters:
                - in: path
                  name: card_program_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardProgram'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Get card program by ID
            tags:
                - Cards
        patch:
            description: Update a card program.
            operationId: Cards_UpdateCardProgram
            parameters:
                - in: path
                  name: card_program_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateCardProgramRequest'
                required: true
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CardProgram'
                    description: Successful response
                "400":
                    $ref: '#/components/responses/ErrorResponse'
                "401":
                    $ref: '#/components/responses/ErrorResponse'
                "404":
                    $ref: '#/components/responses/ErrorResponse'
            summary: Update card program
            tags:
                - Cards
    /issuing/card-transactions:
        get:
            description: Retrieve a list of card transactions.
            operationId: Cards_ListCardTransactions
            parameters:
                - description: Filter card transactions by card account ID.
                  in: query
                  name: card_account_id
                  required: false
                  schema:
                    type: string
                - description: Filter card transactions by card ID.
                  in: query
                  name: card_id
                  required: false
                  schema:
                    type: string
                - description: Filter card transactions by card program ID.
                  in: query
                  name: card_program_id
                  required: false
                  schema:
                    type: string
                - description: Filter card transactions by card token ID.
                  in: query
                  name: card_token_id
                  required: false
                  schema:
                    type: string
[...]
